.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
  padding: 5px;
  border: 1px solid lightseagreen;
  background: floralwhite;
}

.content {
  width: 80%;
}

.id {
  font-size: 18px;
  color: black;

}

.title {
  color: black;
  font-size: 22px;
  text-shadow: 1px 1px 1px rgb(231, 220, 220);
}

/* .body{
  font-size: 16px;
  font-style: italic;
  color:darkcyan;
} */